<nav class="navbar navbar-light bg-light">
    <div class="col-sm-2">
        QV App
    </div>
    <div class="col-sm">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="(currentQuestion+1/numQuestion)*100"></div>
        </div>
    </div>
    <div class="col-sm-2" align="right">
        Part {{currentFile}} Q{{currentQuestion+1}} / {{numFile}} Parts
    </div>
</nav>
<div class="container">
    <h1>{{questionTitle}}</h1>
    <p>{{questionDes}}</p>
</div>
<app-summary></app-summary>
<app-option></app-option>