
<div class="container sticky">
    <div class="card">
        <h5 class="card-header">Summary</h5>
            <div class="card-body">
                <h5 class="card-title">Used {{usedCredits}} out of {{totalCredits}} credits</h5>
                <p class="card-text">
                    <progressbar [animate]="false" [value]="percentage" [type]="type"></progressbar>
                </p>
                <button (click)="submit()" type="button" class="btn btn-outline-primary">Submit</button>
            </div>
    </div>
</div>