<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let option of options; let i = index">
            <div class="row">
                <div class="col-1">
                    <button (click)="modifyVotesByID(option.o_id, 1)" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i></button>
                    <button (click)="modifyVotesByID(option.o_id, -1)" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-minus"></i></button>
                </div>
                <div class="col-8">
                    {{option.option}}
                    <div *ngIf="votes[option.o_id] > 0; then tick else cross"></div>
                    <ng-template #tick>
                        <i *ngFor="let k of [].constructor(votes[option.o_id])" class="far fa-check-circle" ></i>
                    </ng-template>
                    <ng-template #cross>
                        <i *ngFor="let k of [].constructor(-votes[option.o_id])" class="far fa-times-circle" ></i>
                    </ng-template>
                </div>
                <div class="col-3">            
                    <progressbar style="width: 100%;" max="4" [value]="3" [striped]="true" [animate]="true">
                        <i>75%</i>
                    </progressbar>
                </div>
            </div>
            <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">{{option.description}}</div>
                    <div class="col-3"> Voted {{votes[option.o_id]}} votes costs {{votes[option.o_id]*votes[option.o_id]}} credit</div>
            </div>
        </li>

    </ul>
</div>